PowerNew/PowerNew/Web References/DoWork/MyBjfService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfbjf_block">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="bjf_block" nillable="true" type="tns:bjf_block" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfbjf_block" nillable="true" type="tns:ArrayOfbjf_block" />
  <xs:complexType name="bjf_block">
    <xs:sequence>
      <xs:element minOccurs="0" name="blockname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createid" type="xs:int" />
      <xs:element minOccurs="0" name="createtime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="deletetime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="isdelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="isuse" type="xs:int" />
      <xs:element minOccurs="0" name="sortcode" type="xs:int" />
      <xs:element minOccurs="0" name="updateid" type="xs:int" />
      <xs:element minOccurs="0" name="updatetime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="bjf_block" nillable="true" type="tns:bjf_block" />
</xs:schema>