PowerNew/WindowsAsync/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://callphone.rompy.cn/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRedisKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRedisKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetRedisKeyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDb">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDbResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDbResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRedisKeyValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRedisKeyValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetRedisKeyValueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRedisKeyValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRedisKeyValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRedisKeyValueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="obj" nillable="true" type="q3:ClassInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetEntityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetEntityResult" nillable="true" type="q4:ClassInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveKeyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bytes" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadRecordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddCallPhoneWav">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerid" type="xs:int" />
        <xs:element minOccurs="0" name="createid" type="xs:int" />
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddCallPhoneWavResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAddCallPhoneWavResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>